@font-face {
    font-family: 'Myriad';
    src: url('/fonts/MyriadPro-Regular.otf');
}

@media (min-width: 1300px) {
    .container {
        width: 1270px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1470px;
    }
}

@media (min-width: 1910px) {
    .container {
        width: 1880px;
    }
}




body {
    font-family: Myriad;
}


section:not(:first-child) {
    margin-top: 50px;
}

li {
    list-style-type: none;
}

#home li {
    margin-left: 15px;
    list-style-type: initial;
}

#home p {
    text-align: justify;
}

.sub-section .title {
    background-color: #4156a6;
    color: white;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20pt;
}

.sub-section .content {
    padding: 15px 0;
}

#agenda li.active a {
    background-color: orange;
}

#agenda td {
    padding: 15px 5px;
    vertical-align: top;
}


#map-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}

    #map-wrapper:after {
        padding-top: 125%;
        /* 16:9 ratio */
        display: block;
        content: '';
    }

#google-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.agenda-detail td:first-child {
    width: 110px;
}

a.collapsed > .caret {
    border-left: 8px solid #000000;
    border-right: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    /*top: 12px;*/
}

.caret {
    border-width: 8px;
    border-top-color: #000000;
    position: absolute;
    right: 30px;
    /*top: 16px;*/
}

#speakers-table table td {
    width: auto;
}

.speakersList li {
    padding: 0 5px;
}

#panel .carousel-inner {
    min-height: 330px;
    padding: 0;
}

body {
    color: #000000;
    font-size: 12pt;
}

h1, h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    color: #df8749;
}

.email, .phone {
    font-style: italic;
}

.label {
    color: rgb(51,51,51);
    font-size: 100%;
    font-weight: bold;
}


#speakers-table .topic, #speakers-table .topic .label {
    color: goldenrod;
}

#panel .carousel-control {
    font-size: 90px;
    top: 30px;
    background-color: white;
    background-image: none;
    width: 50px;
    margin-top: 80px;
    color: black;
}


#panel img {
    height: auto;
    width: 100%;
}

#panel .span4 {
    display: block;
    width: 33.3%;
    float: left;
    margin-top: 10px;
}

    #panel .span4 a {
        color: black;
        text-decoration: none !important;
    }

        #panel .span4 a:hover {
            color: black;
            text-decoration: none !important;
        }

.panel-title a:hover, .panel-title a {
    text-decoration: none !important;
}


.panel-body {
    padding: 0px;
}


#speakersCarousel {
    padding: 0 50px;
    margin: 0 10%;
}

    #speakersCarousel .carousel-indicators li {
        background-color: #ccc;
    }

    #speakersCarousel li.active {
        background-color: rgb(51,51,51);
    }

    #speakersCarousel .glyphicon-chevron-left, #speakersCarousel .glyphicon-chevron-rigt {
        color: rgb(41,41,51);
    }

#logo {
    min-width: 100px;
    width: 12%;
    margin: 25px 0;
}

ul {
    padding-left: 0;
}

    ul li {
        margin-bottom: 10px;
    }

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 5px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.nav-tabs li {
    margin: 20px 50px 20px 0;
    background-color: #dcaf3c;
}

    .nav-tabs li a {
        color: black;
        font-weight: bold;
        padding: 6px 15px;
        font-size: 14pt;
    }

ul.nav-tabs li a:hover {
    background-color: inherit;
    border: 1px solid transparent;
}

.col-md-8 {
    padding-left: 0;
}


html {
    height: 100%;
}

footer {
    margin: 20px 0;
    font-size: 70%;
}

.thumbnail {
    width: 250px;
    display: inline-block;
}

#top-banner {
    width: 100%;
}



.name {
    font-weight: bold;
}

/* Venue css*/
#venue td:first-child {
    vertical-align: top;
    font-weight: bold;
}
