@font-face {
    font-family: 'Myriad';
    src: url('/fonts/MyriadPro-Regular.otf');
}

@media (min-width: 1300px) {
    .container {
        width: 1200px;
    }
}

@media (min-width: 1500px) {
    .container {
        width: 1400px;
    }
}

@media (min-width: 1910px) {
    .container {
        width: 1800px;
    }
}



body {
    font-family: Myriad;
}

    body .container {
        padding: 0;
    }

section:not(:first-child) {
    margin-top: 30px;
}

li {
    list-style-type: none;
}

#home li {
    margin-left: 20px;
    list-style-type: initial;
}

#home p {
    text-align: justify;
}

.sub-section .title {
    background-color: #4156a6;
    color: white;
    padding: 10px 10px;
    font-weight: bold;
    font-size: 20pt;
}

.sub-section .content {
    padding: 15px 0;
}

#agenda li.active a {
    background-color: orange;
}

#agenda td {
    padding: 8px 5px;
    vertical-align: top;
}


#map-wrapper {
    width: 100%;
    display: inline-block;
    position: relative;
}

    #map-wrapper:after {
        padding-top: 125%;
        /* 16:9 ratio */
        display: block;
        content: '';
    }

#google-map {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.agenda-detail td:first-child {
    width: 110px;
}

a.collapsed > .caret {
    border-left: 8px solid #000000;
    border-right: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    /*top: 12px;*/
}

.caret {
    border-width: 8px;
    border-top-color: #000000;
    position: absolute;
    right: 30px;
    /*top: 16px;*/
}

.avatar {
    width: 150px;
    height: 150px;
    padding: 5px;
    z-index: 1000;
}

    .avatar img {
        max-width: 120px;
        max-height: 120px;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

body {
    color: #000000;
    font-size: 12pt;
}

h1, h2 {
    font-weight: bold;
    text-transform: uppercase;
    font-weight: bold;
    color: #df8749;
}

.email, .phone {
    font-style: italic;
}

.label {
    color: rgb(51,51,51);
    font-size: 100%;
    font-weight: bold;
}


#logo {
    min-width: 100px;
    width: 12%;
    margin: 20px 25px;
}

ul {
    padding-left: 0;
}

    ul li {
        margin-bottom: 10px;
    }

hr {
    display: block;
    height: 3px;
    border: 0;
    border-top: 5px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.container .nav-tabs {
    border-bottom: 5px solid #ddd;
}

    .container .nav-tabs.fixed {
        position: fixed;
        z-index: 1000;
        background-color: #fff;
        top: 0;
        padding-right: 30px;
    }

.nav-tabs li {
    margin: 20px 40px 20px 0;
    background-color: #dcaf3c;
}

    .nav-tabs li:last-child {
        margin: 20px 0 20px 0;
    }

    .nav-tabs li a {
        color: black;
        font-weight: bold;
        padding: 6px 15px;
        font-size: 14pt;
    }

ul.nav-tabs li a:hover {
    background-color: inherit;
    border: 1px solid transparent;
}

.col-md-8 {
    padding-left: 0;
}


html {
    height: 100%;
}

footer {
    margin: 20px 0;
    font-size: 70%;
}

.thumbnail {
    width: 250px;
    display: inline-block;
}

#top-banner {
    width: 100%;
}



.name {
    font-weight: bold;
}

/* Venue css*/
#venue td:first-child {
    vertical-align: top;
    font-weight: bold;
}

/*Speaker CSS*/

.avatar {
    width: 125px;
    height: 125px;
    z-index: 1000;
}

    .avatar img {
        max-width: 120px;
        max-height: 120px;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

#speakers-table td {
    padding: 10px;
}

    #speakers-table td:last-child {
        padding-left: 30px;
    }


/*Meida CSS*/
#images-group .carousel-indicators {
    bottom: 0;
    left: 0;
    margin-left: 5px;
    width: 100%;
    height: auto;
}

    #images-group .carousel-indicators div {
        border: medium none;
        border-radius: 0;
        height: 150px;
        padding: 0 5px;
        width: 20%;
        display: inline-block;
        margin: 0;
        position: relative;
    }


        #images-group .carousel-indicators div img {
            border: 2px solid #FFFFFF;
            position: relative;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            -webkit-filter: blur(3px);
            -moz-filter: blur(3px);
            -o-filter: blur(3px);
            -ms-filter: blur(3px);
            filter: blur(3px);
        }

        #images-group .carousel-indicators div.active img {
            border: 2px solid #FFFFFF;
            position: relative;
            left: 0;
            max-width: 100%;
            max-height: 100%;
            -webkit-filter: blur(0);
            -moz-filter: blur(0);
            -o-filter: blur(0);
            -ms-filter: blur(0);
            filter: blur(0);
        }

#images-group .carousel-control {
    font-size: 120px;
    line-height: 650px;
    height: 650px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    background-color: transparent;
    background-image: none;
    width: 50px;
    color: black;
    z-index: 990;
}

#images-group .carousel-inner li {
    width: 100%;
    height: 650px;
    justify-content: center;
}




#images-group .carousel-inner img {
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
}
